.card {
  // width: 110px;
  // height: 153px;
  .box {
    position: relative;
    overflow: hidden;
    .tag {
      position: absolute;
      top: 0;
      right: 0;
    }
    .image {
      width: 100%;
      // height: 110px;
      display: block;
    }
  }
  .name {
    // height: 0.6rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}
